.detail_card_right_img,
.detail_card_left_img {
    margin-left: 4vw;
    margin-right: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 8rem;
    h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
        @media screen and (max-width: 850px) {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }
    }
    .detail_image {
        width: 90%;
        height: auto;
        @media screen and (max-width: 850px) {
            width: 100%;
        }
    }
    .detail_card_text {
        padding-right: 3rem;
        @media screen and (max-width: 850px) {
            padding-right: 0;
        }
    }
    @media screen and (max-width: 850px) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.detail_card_right_img {
    .detail_card_text {
        grid-column: 1/2;
        padding-right: 4rem;
        @media screen and (max-width: 850px) {
            padding-right: 0;
        }
    }
    .detail_card_img_container {
        grid-column: 2/3;
        text-align: right;
        @media screen and (max-width: 850px) {
            text-align: center;
            order: -1;
        }
    }
}

.detail_card_left_img {
    .detail_card_text {
        grid-column: 2/3;
        padding-left: 4rem;
        @media screen and (max-width: 850px) {
            padding-left: 0;
        }
    }
    .detail_card_img_container {
        grid-column: 1/2;
        text-align: left;
    }
}

.flex_container {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    gap: 2rem;
}

.flex_container>* {
    max-width: 25%;
    height: auto;
}

.stacked_flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (max-width: 850px) {
        gap: 4rem;
        order: -1;
        margin-bottom: 2rem;
    }
}

.stacked_flex>* {
    height: 12vw;
}

audio {
    width: 100%;
}

// ------------ back to top button ------------//
.back_to_top {
    background: none;
    border: solid 1px #333;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 6rem;
    &:hover {
        color: #fff;
        background: #222;
    }
}