.detail_card_right_img,
.detail_card_left_img {
    margin-left: 4vw;
    margin-right: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 8rem;
    h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }
    .detail_image {
        width: 90%;
        height: auto;
    }
    .detail_card_text {
        padding-right: 3rem;
    }
}

.detail_card_right_img {
    .detail_card_text {
        grid-column: 1/2;
        padding-right: 4rem;
    }
    .detail_card_img_container {
        grid-column: 2/3;
        text-align: right;
    }
}

.detail_card_left_img {
    .detail_card_text {
        grid-column: 2/3;
        padding-left: 4rem;
    }
    .detail_card_img_container {
        grid-column: 1/2;
        text-align: left;
    }
}

.flex_container {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    gap: 2rem;
}

.flex_container>* {
    max-width: 25%;
    height: auto;
}

.stacked_flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.stacked_flex>* {
    height: 12vw;
}

audio {
    width: 100%;
}